body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: mediumpurple;
    transition: backround-color is ease-in-out;
}

#c {
    position: relative;
    z-index: 1;
    filter: contrast(3);
}

h1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    color: royalblue;
    transition: color is ease-in-out;
    font-size: 8em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

p#clickhere {
    text-transform: uppercase;
    padding: 1em;
}